/* Ghi chú */
/* 
M : vừa
L : to
XL : to vừa
XXL : to nhất

bg:background

fs:font-size

cl:color

Color : {
    W : white,
    B : black
}
*/
/* biến css */
:root {
  /* color background*/
  --bg-Color-Main: #cd1818;
  --bg-Color-Submain-M: #333333;
  --bg-Color-Submain-XXL: black;
  /* font-size */
  --fs-XXL: 20px;
  --fs-XL: 18px;
  --fs-L: 16px;
  --fs-M: 14px;
  /* color text */
  --cl-Text-W: white;
  --cl-Text-B: black;
  /* color hover */
  --cl-hover-M: rgb(179, 9, 9);
}

/* Định nghĩa cho placeholder */
input::placeholder,
textarea::placeholder,
select::placeholder {
  opacity: 50%;
}

/* Định nghĩa cho thẻ a */
a {
  text-decoration: none !important;
}

/* Định nghĩa cho tất cả */
* {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
}

body {
  /* background-image: linear-gradient(var(--bg-Color-Main)80%,white 20%); */
}

/* nav */
.nav-hover:hover {
  background-color: var(--bg-Color-Submain-M);
}

/* main */
#main-Banner-TrangChu {
  height: 430px;
  background-image: url("img/Trangchu/baner_trangchu.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

main .main-SlideShow {
  height: 350px;
  /* background-color: red;
  background-image: url("img/Trangchu/slideshow/slide1.webp");
  background-size: 100% 100%; */
}

main .main-SlideShow-Icon {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: rgb(227, 222, 222);
  border-radius: 30px;
  opacity: 60%;
}

main .main-tintuc{
    font-size: var(--fs-M);
}
main .main-tintuc a:hover{
    color: var(--cl-hover-M) !important;
}