.hot__Sale {
    width: 100%;
    border: 1px solid red;
    margin-block: 30px;
    margin-bottom: 80px;
    .sale__product__item {
        padding: 10px;
    }

    .tieude__sale {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        h2 {
            color: $color-T-LightOrange;
        }

        a{
            color: $color-Light-Blue;
        }
    }

    .sale__products {
        max-width: 100%;
        background-color: white;
        @include Box_Shadow("s");
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 40px;
        gap: 30px;
        max-height: 420px;
        position: relative; //tạo vùng để nâng lớp đè lên các phần tử khác
        .sale__product__item {
            // border: 1px solid red;
            &:hover{
                background-color: white;
                box-shadow: 0 0 5px rgb(174, 173, 173);
                border-radius: 10px;
                .thongso__muahang{
                    display: block;
                }
            }

            // banner__sale
            .banner__sale {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 20px;

                div:first-child {
                    background-color: $color-T-LightSOrange;
                    color: $color-T-White;
                    padding-right: 30px;
                    font-size: $font-Size-XS;
                    position: relative;
                    margin-block: 10px;
                    padding-left: 5px;

                    &::after {
                        content: "";
                        display: block;
                        width: 15%;
                        height: 100%;
                        background-color: white;
                        position: absolute;
                        right: -8px;
                        top: 0px;
                        transform: rotate(45deg);
                    }
                }

                div:last-child {
                    background-color: $color-T-LightOrange;
                    color: $color-T-White;
                    width: 18%;
                    text-align: center;
                    font-size: $font-Size-XS;
                    position: relative;
                    padding: 10px 0;
                }
            }

            // img__sale
            .img__sale {
                margin-bottom: 40px;

                img {
                    width: 90%;
                    height: 100px;
                    display: block;
                    margin: auto;
                    object-fit: cover;
                }
            }

            // tenpro__sale
            .tenpro__sale {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;

                a {
                    color: $color-T-Black;
                    font-weight: 600;
                    @include Text_Hidden(2);
                }
            }

            //price__sale
            .price__sale {
                display: flex;
                justify-content: space-around;
                font-size: $font-Size-S;
                align-items: center;
                margin-bottom: 20px;

                span:first-child {
                    font-size: $font-Size-XM;
                    color: $color-T-LightOrange;
                    font-weight: bold;
                }

                span:last-child {
                    text-decoration: line-through;
                    color: $color-T-LigthGray;
                }
            }

            //phienban__sale
            .phienban__sale {
                display: flex;
                justify-content: space-around;
                font-size: $font-Size-XS;
                align-items: center;
            }

            //thông số
            .thongso {
                border-radius: 10px;
                padding: 10px;
                margin-top: 20px;
                background-color: $color-LightGray;

                .item {
                    font-size: $font-Size-S;
                    margin-bottom: 5px;
                }
            }

            // thongso__muahang
            .thongso__muahang {
                display: none;

                //mua hàng
                .muahang {
                    margin-top: 20px;
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    text-align: center;

                    button {
                        padding: 7px;
                        border: none;

                        &:first-child {
                            font-size: $font-Size-M;
                            background-image: linear-gradient(to right, #f0d903, #ff8250);

                            a {
                                color: $color-T-White;
                            }
                        }

                        &:last-child {
                            background-color: $color-T-LightOrange;

                            a {
                                color: $color-T-White;
                            }
                        }
                    }

                }
            }

            // 
        }
    }

}