.slide_show_tin_tuc {
  width: 100%;
  // border: 1px solid red;
  display: grid;
  grid-template-columns: 63% 37%;    //muốn thay đổi độ rộng ngắn của slideshow thì đổi ở đây 1
  margin-bottom: 80px;
  max-height: 355px;
  
  .slide_show {
    max-width: 770px;  //xong đổi đây 2
    // border: 1px solid red;
    position: relative;
    overflow: hidden;
    border-radius: 20px;

    .slide_list {
      width: max-content;
      height: 100%;
      // border:1px solid red;
      display: flex;
      transition: all 0.5s linear;

      .item img {
        width: 770px;  //xong đổi đây 3
        height: 100%;
      }
    }
  }

  .btn_Next_Pre {
    position: absolute;
    top: 45%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .next button{
      width: 40px;
      height: 40px;
      margin-right: 10px;
      border-radius: 20px;
      border: 0;
      font-size: 30px;
      background:0;
      color: white;
      opacity: 75%;
      cursor: pointer;
    }

    .pre button{
      width: 40px;
      height: 40px;
      margin-left: 10px;
      border-radius: 20px;
      border: 0;
      font-size: 30px;
      background:0;
      color: white;
      opacity: 75%;
      cursor: pointer;
    }
  }

  .dots{
    position: absolute;
    bottom: 5px;
    width: 100%;
    cursor: pointer;
    
    ul{
      display: flex;
      justify-content: center;
      align-items: center;
      gap:20px
    }
    ul li{
      width: 10px;
      height: 10px;
      background-color: white;
      border-radius: 20px;
      transition: 0.2s linear;
    }

    li.active{
      width: 25px;
      height: 8px;
    }
  }
  .tin_tuc {
    // border: 1px solid red;
    border-radius: 20px;
    background-color: white;
    @include Box_Shadow('s');
    padding: 20px;

    .tin_tuc_list{
      max-height: 310px;
    }
    .tin_tuc_list_item{
      padding: 10px;
      min-height: 78px;
      background-color: #F9F9F9;
      border-radius: 10px;
      margin-bottom: 10px;
      a h4{
        font-weight: 500;
        color: rgb(67, 65, 65);
      }
      a p{
        margin-top: 10px;
        color: rgb(171, 167, 167);
        font-size: 14px;
      }

      &:hover{
        border: 1px solid $color-Light-Blue;
        box-shadow: 3px 3px 7px $color-LightS-Blue;
        opacity: 100%;
      }
    }

    .tin_tuc_list_item-active{
      border: 1px solid $color-Light-Blue;
      box-shadow: 3px 3px 7px $color-LightS-Blue;
      opacity: 100%;
    }

    .tin_tuc_all{
      a{
        color: $color-LightS-Blue;
      }
    }
  }
}
