header {
  background-color: $color-White;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 30px;
  @include Box_Shadow("sm");

  .header__grid {
    display: grid;
    grid-template-columns: 200px 500px 1.5fr 1fr;
    min-height: 80px;
  }

  /* Hiển thị border của các item trong grid */
  /* 
  .header__grid__item {
    border: 1px solid red;
  }
 */

  //   header__grid__item đầu tiên
  .header__grid > a:first-child {
    // background-color: red;
    @include Bg_Image(
      "../global/img/logo/logo-trungtran-ngang-nen-trang-a2x-100_1680001630.jpg",
      85%,
      55%
    );

    .header__grid__item {
      height: 100%;
    }
  }

  //   header__grid__item thứ 2
  .header__grid__item:nth-child(2) {
    nav {
      height: 100%;
    }
    .nav__ul {
      display: flex;
      gap: 25px;
      align-items: center;
      height: 100%;
      justify-content: center;

      li > a {
        font-size: $font-Size-XM;
        font-weight: 500;
        color: $color-T-Gray;
        &:hover {
          color: $color-Bolder-Blue;
        }
      }
    }
  }

  //   header__grid__item thứ 3
  .header__grid__item:nth-child(3) {
    align-content: center;
    div {
      width: 90%; //Thay đổi w,h input
      height: 50%;
      margin: auto;
      // background-color: red;
      text-align: center;
      position: relative;

      input {
        width: 100%;
        height: 100%; //ko thay đổi w,h của input ở đây
        border-radius: 20px;
        padding-left: 10px;
        border: none;
        font-size: $font-Size-M;
        box-shadow: 0px 0px 6px rgb(90, 148, 249);

        &:focus {
          outline: none;
        }
      }
      .fa-solid {
        position: absolute;
        right: 6%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
      }
    }
  }

  //   header__grid__item cuối
  .header__grid__item:last-child {
    align-content: center;
    div {
      text-align: end;
      i {
        font-size: 35px;
        margin-right: 32px;
      }
    }
  }
}

