* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto";
  line-height: 1.5;
  transition: all 0.25s linear;
  scroll-behavior: smooth;
}


body {
  background-color: #F8FAFC;
}

.container {
  padding: 0 100px;
}

.container-fluid {
  width: 100%;
  height: auto;
}
a{
  color: #13a7fd;
}
input[type='radio'],input[type='checkbox'],button{
  cursor: pointer;
}
/* variable */
$color-Bolder-Blue: #10419b;
$color-Light-Blue: #2874fe;
$color-LightS-Blue: #13a7fd;
$color-White: white;
$color-Gray: gray;
$color-LightGray: #EFEFEF;
$color-DarkGray: #869791;


/* màu chữ */
$color-T-Black: black;
$color-T-White: white;
$color-T-LightOrange: #f26522;
$color-T-LightSOrange: #FF9700;
$color-T-LightXSOrange: #FF6700;
$color-T-LightYellow:#FFC400;
$color-T-Gray: gray;
$color-T-LigthGray :rgb(124, 121, 121);
$color-T-LigthSGray: rgb(204, 198, 198);

/* cỡ chữ */
$font-Size-S: 12px;
$font-Size-XS: 14px;
$font-Size-M: 16px;
$font-Size-XM: 18px;
$font-Size-L: 20px;
$font-Size-XL: 22px;
$font-Size-XXL: 40px;


// line heigth
$line-Heigth-M : 1.5;
$line-Heigth-L : 2.5;


// Hàm tái sử dụng (mixin)

// Tạo bóng
@mixin Box_Shadow($shadow) {
  @if ($shadow =="s") {
    box-shadow: 0 0 5px rgb(174, 173, 173);
  }

  @if ($shadow =="xs") {
    box-shadow: 0 0px 8px 0 rgb(174, 173, 173);
  }

  @if ($shadow =="sm") {
    box-shadow: 0 0px 12px rgb(174, 173, 173);
  }
}

// background img
@mixin Bg_Image($url,
  $with: 100%,
  $height: 100%,
  $repeat: no-repeat,
  $bgPosition: center) {
  background-image: url($url);
  background-size: $with $height;
  background-repeat: $repeat;
  background-position: $bgPosition;
}

//Ẩn hiện chữ theo dòng
@mixin Text_Hidden($row) {
  display: -webkit-box;
  -webkit-line-clamp: $row;  //số dòng muốn hiển thị
  /* Số lượng dòng hiển thị */
  -webkit-box-orient: vertical; 
  overflow: hidden;
}


@import "header.scss";

// Trang chủ
@import "trang_chu/main.scss";
// Laptop
@import "laptop/main.scss";
// Chitietsp
@import "chitietsp/main.scss";

@import "hethong_showroom.scss";
@import "lienhe.scss";
@import "footer.scss";