#taikhoancuatoi,#doimatkhau {
    background-color: white;
    @include Box_Shadow("s");
    width: 50%;
    padding: 30px;
    border-radius: 5px;
    margin: 50px auto;
    text-align: start;

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        /* Làm mờ nền */
        z-index: 10;
    }

    form {
        width: 50%;
        margin: auto;
        position: relative;
        div:first-child {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 20px;

            h2 {
                color: $color-LightS-Blue;
            }

            .img {
                width: 60px;
                height: 60px;
                border-radius: 50px;
                border: 1px solid gray;

                img {
                    border-radius: 50px;
                    object-fit: cover;
                }
                &:hover{
                    cursor: pointer;
                }
            }
        }

        label {
            font-weight: bold;
            // color: $color-LightS-Blue;
        }

        input {
            width: 100%;
            height: 45px;
            border-radius: 5px;
            border: 1px solid gray;
            margin-top: 5px;
            margin-bottom: 20px;
            padding-left: 10px;
        }

        .inputMatKhau {
            position: relative;
            height: 50px;
            .doimatkhau {
                position: absolute;
                right: 0;
                button{
                    padding: 2px;
                }
            }
        }

        .btn_suathongtin {
            width: 50%;
            background-color: $color-Light-Blue;
            padding: 10px !important;
            height: 45px !important;
            font-size: $font-Size-XM;
            color: white;
            border: none;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .modalEditAnh {
            background-color: white;
            @include Box_Shadow("s");
            padding: 20px;
            border-radius: 5px;
            position: absolute;
            width: 700px;
            top: 5%;
            left: 50%;
            transform: translateX(-50%);
            display: none;
            z-index: 20;
            transition: all 1s;

            input {
                padding: 0;
                height: 100%;
                width: 40%;
            }
        }
    }

}
#doimatkhau{
    h2{
        color: $color-LightS-Blue;
        margin-bottom: 20px;
    }
    button[type=submit]{
        background: $color-LightS-Blue;
        font-size: $font-Size-L;
        color: $color-White;
        text-align: center;
        padding: 3px 7px;
        border: none;
        border-radius: 5px;
        width: 30%;
    }
    button{
        border: none;
        background-color: $color-T-LightOrange;
        padding: 5px 10px;
        border-radius: 5px;
        margin-top: 20px;
        a{
            color: $color-White;
        }
    }
}